<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanswon.ssm.dao.TYhJsMapper">
  <resultMap id="BaseResultMap" type="com.lanswon.ssm.domain.entity.TYhJs">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="JSBH" jdbcType="INTEGER" property="jsbh" />
    <result column="YHBH" jdbcType="INTEGER" property="yhbh" />
  </resultMap>

  <insert id="batchInsert">
    insert into t_yh_js(JSBH,YHBH)
    values
    <foreach collection="list" item="jq" separator=",">
      (#{jq.jsbh},#{jq.yhbh})
    </foreach>
  </insert>
</mapper>